<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rhs.school_planner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:icon="@drawable/rhs_logo1"
        android:label="@string/app_name" >
        <activity
            android:name=".main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Events" >
        </activity>
        <activity android:name="IrishUpdate" >
        </activity>
        <activity android:name="WatchIU" >
        </activity>
        <activity android:name="Homework" >
        </activity>
        <activity android:name="AddAssignment" >
        </activity>
    </application>

</manifest>